# Backend Build Artifacts
backend/target/
*.class
*.jar
*.war

# Frontend Build & Dependencies
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.sass-cache/

# IDE & OS Files
.vscode/
.idea/
*.swp
*.log
.DS_Store
Thumbs.db
